---
const personalImageAlt = "Mathias Martinez";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy Mathias Martínez (aunque todos me dicen Mathi). Comencé a programar
      hace más de tres años y desde entonces no he dejado de aprender y crecer
      en este mundo. <strong
        >Actualmente, trabajo como desarrollador para una importante cadena de
        supermercados, donde formo parte de un equipo que mantiene y desarrolla
        soluciones tecnológicas para el negocio.</strong
      >.
    </p>

    <p>
      Además, estoy estudiando la carrera de <strong
        >Ingeniería en Sistemas de Información</strong
      >, lo que me permite complementar la práctica con una sólida formación
      teórica.
    </p>

    <p>
      Como freelance, tuve la oportunidad de trabajar en proyectos diversos, lo
      que me permitió adquirir experiencia con múltiples tecnologías y
      fortalecerme como <strong
        ><em class="italic"> desarrollador FullStack.</em></strong
      >Me apasionan los desafíos, y siempre encaro cada uno con actitud
      positiva, dedicación y muchas ganas de superarme.
    </p>
  </div>

  <img
    width="180"
    height="180"
    src="/mirepo.github.io/projects/image.webp"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
