---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "2021 - 2024",
    title: "Freelance",
    company: "EstrategiaNet",
    description:
      "Desarrollo fullstack de sitios y apps a medida para diversos rubros. Me adapté a cada cliente trabajando tanto en frontend como backend, incorporando buenas prácticas y tecnologías modernas.",
  },
  {
    date: "03/2024 - 10/2024",
    title: "Analista en Sistemas y Desarrollador",
    company: "Grupo Dinosaurio",
    description:
      "Relevamiento de procesos, propuestas de mejora y documentación técnica. Colaboración con desarrolladores en la implementación de soluciones internas.",
  },
  {
    date: "10/2024 - Actualidad",
    title: "Desarrollador y Soporte",
    company: "Grupo Dinosaurio",
    description:
      "Soporte y desarrollo de sistemas core de la empresa. Trabajo con múltiples tecnologías (PHP, Java, Angular, React, SQL Server), gestión vía tickets y tareas sobre base de datos.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
