---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "2021 - 2024",
    title: "Freelance",
    company: "EstrategiaNet",
    description:
      "Desarrollé sitios web y aplicaciones a medida para clientes de distintos rubros, ayudando a potenciar su rendimiento y visibilidad online. Trabajé tanto en el frontend como en el backend, adaptándome a las necesidades de cada proyecto y cliente. Durante este período también me enfoqué en la formación continua para aplicar siempre las mejores prácticas y tecnologías actuales en cada entrega.",
  },
  {
    date: "03/2024 - 06/2024",
    title: "Analista en Sistemas",
    company: "Grupo Dinosaurio",
    description:
      "Encargado de relevar requerimientos de las distintas áreas y proponer mejoras en procesos internos. Colaboré activamente en la transformación digital de flujos administrativos, generando documentación técnica y trabajando junto a desarrolladores para asegurar la correcta implementación de soluciones.",
  },
  {
    date: "06/2024 - Actualidad",
    title: "Desarrollador y Soporte",
    company: "Grupo Dinosaurio",
    description:
      "Actualmente formo parte del equipo de desarrollo, brindando soporte al sistema troncal de la empresa y participando en la implementación de soluciones tecnológicas escalables y eficientes. Trabajo con distintos lenguajes y frameworks (PHP, Java, TypeScript, Angular, React, entre otros), ya que no utilizamos un stack único. El soporte técnico se gestiona a través de un sistema de tickets, y también realizo tareas de manipulación directa sobre la base de datos principal (SQL Server).",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
