---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "2021 - 2024",
    title: "Fullstack Developer",
    company: "EstrategiaNet (Freelance)",
    description:
      "Desarrollo de sistemas web y aplicaciones a medida para distintos rubros. Implementación completa de frontend y backend, diseño de bases de datos, APIs REST, automatización de procesos y despliegues. Trabajo directo con clientes, análisis de requerimientos y entrega de soluciones productivas.",
  },
  {
    date: "03/2024 - 10/2025",
    title: "Analista en Sistemas / Fullstack Developer",
    company: "Grupo Dinosaurio",
    description:
      "Relevamiento de procesos internos, diseño de soluciones técnicas y desarrollo de sistemas administrativos. Participación en mejoras de performance, consultas SQL complejas, mantenimiento de sistemas productivos y documentación funcional.",
  },
  {
    date: "10/2025 - Actualidad",
    title: "Fullstack Developer",
    company: "Grupo Tagle",
    description:
      "Desarrollo de sistemas core de negocio, plataformas de cobro con Mercado Pago, integraciones entre múltiples sistemas internos, automatización de procesos administrativos y conciliación de pagos. Trabajo con Laravel, Node.js, MySQL y Angular. Responsable de módulos críticos relacionados a facturación, pagos e integraciones.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
